$brandcolor: #50cf4d;
// base
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

#root {
  font-family: "NotoSansKR", "Roboto";
  width: 100vw;
  height: 100vh;
  color: white;
  -webkit-app-region: no-drag;
}

button {
  // -webkit-app-region: drag;
}
